.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    gap: 6px;

    @include on-desktop {
      gap: 18px;
    }
  }

  &__logo-img {
   @include on-desktop {
    width: 182px;
    height: 56px;
   }
  }
}