.Info-place {
  background-color: #302e5a;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 6px;

  &--cal {
    padding: 6px;

    @include on-tablet {
      padding: 12px 22px;
    }
  }

  &--clock {
    padding: 6px 12px;

    @include on-tablet {
      padding: 12px 32px;
    }
  }

  &__text {
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 76%;

    @include on-tablet {
      font-size: 14px;
    }
  }
}
