.Sign-up {
  box-shadow: 0 9px 45px 0 rgba(40, 127, 165, 0.1);
  background: #303a53;
  border-radius: 9px;
  padding: 40px 20px;
  max-width: 350px;

  @include on-tablet {
    padding: 50px 59px;
    border-radius: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 116%;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;

    @include on-desktop {
      width: 248px;
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &__red {
    color: #ff3459;
  }

  &__privacy {
    font-weight: 500;
    font-size: 11px;
    line-height: 149%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    @include on-tablet {
      font-size: 12px;
    }

    @include on-desktop {
      // width: 248px;
    }

    &-link {
      display: block;
      color: inherit;
      text-decoration-skip-ink: none;
    }
  }
}
