.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__kind {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #4252d1;
    width: min-content;
    padding: 5px 10px;
    border-radius: 3px;
  }
  &__kind-text {
    font-weight: 600;
    line-height: 150%;
    color: #fff;
  }

  &__title {
    font-weight: 800;
    font-size: 53px;
    text-transform: uppercase;
    text-align: center;
    color: #ff3459;
  }

  &__subtitle {
    color: #fff;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
  }

  &__subtitle-text {
    font-weight: 600;
    font-size: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 148%;
    text-align: center;
    color: #fff;
    margin-bottom: 21px;
  }
}
