.Page {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 12px;

  &__body {
    background-color: #000;
    padding: 28px 16px 59px;
  }

  &__header {
    margin-bottom: 32px;
  }
}
